.basket-list{
    padding: 20px;
}
.basket__item{
    position: relative;
    height: 150px;
    display: grid;
    margin-bottom: 20px;
    place-items: center;
    border: 2px solid black;
    grid-template-rows: 1fr minmax(0, 1fr)1fr;
    grid-template-columns: repeat(2, 1fr) minmax(0, 1fr) 1fr;
    grid-template-areas:
    "photo name label label "
    "photo color quantity quantity"
    "photo price total total";
    &--picture{
        grid-area: photo;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &--name{
        grid-area: name;
    }

    &--color{
        grid-area: color;
    }

    &--price{
        grid-area: price;
    }

    &--quantity{
        grid-area: quantity;
        width: 30%;
        text-align: center;
        font-weight: 600;
        font-size: 2rem;

        &::-webkit-inner-spin-button{
            opacity: 1;
        }
    }

    &--quantity-label{
        grid-area: label;
    }

    &--total{
        grid-area: total;
    }

}

.form__container{
    @include display-flex ($flow: nowrap column, $justify: center, $align: center);
    padding: 20px;
    border: 0px;

    .form-title{
        padding-block: 40px;
    }

    .form{
        width: 80%;
        display: flex;
        flex-direction: column;

        .label-input-container{
            position: relative;
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            grid-template-rows: repeat(2, auto);
            grid-template-areas: 
            "label smalltxt ."
            "input input input";
        }

        label{
            grid-area: label;
        }

        input{
            grid-area: input;
            height: 30px;
            margin-bottom: 20px;

        }

        small{
            grid-area: smalltxt;
            text-align: center;
            align-self: flex-end;
            height: 18px;
        }

        &[type = number]{
            height: 100%;
        }

        input:focus, input:active{
            outline: none;
            border-color: #926CED;
            
        }

        .submit-btn-container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .submit-btn-container small{
            align-self: center;
            order: 1;
        }

        #form-submit{
            padding: 0px 10px;
            align-self: center;
            margin-top: 20px;
            order: 2;
        }

    }
}

.total__price{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    padding-block: 20px;
    background-color: $main-clr;
}

.confirm__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
  }