.success{
    color: $success-clr;
}

.fail{
    color: $fail-clr;
}

.success-bg{
    background-color: lighten($success-clr, 50%);
}

.fail-bg{
    background-color: lighten($fail-clr, 20%);
}


@keyframes basket-success{
    50%{
        transform: scale(1.2);
        
    }
}

@keyframes basket-fail{
    25%{
        transform: rotate(20deg);
        
    }

    30%, 100%{
        color:red;
    }

    50%{
        
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(-20deg);
    }
}

.basket-fail{
    
    animation: basket-fail 400ms linear;
    
}



.basket-success{
    animation: basket-success 600ms linear;
    position: absolute;
    width: 33px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 0px;
    background-color: transparent;
    right: 20px;
    top: 14px;


    &:hover{
    cursor: pointer;
    }

    &:active{
    transform: scale(0.8);
    }

    &::after{
    color: $success-clr;
    position: absolute;
    content: "\f217";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5rem;
    
}
}

.check::after{
    position: absolute;
    content: "\f14a";
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
   
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5rem;
}